[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyrogram = "*"
tgcrypto = "*"
Flask = "*"
python-Levenshtein = "*"
yargy = "*"
ipymarkup = "*"
IPython = "*"
more-itertools = "*"
memoized = "*"

[dev-packages]

[requires]
python_version = "3.7"
